# COPY THIS FILE TO .env and update APP_KEY with the token from discord developer portal

# REQUIRED:
APP_KEY="......"

# LEAVE:
CONTRACT_ADDR="0x55a633B3FCe52144222e468a326105Aa617CC1cc"
RPC_URL="https://bsc-rpc.gateway.pokt.network"
INTERVAL=120
